<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Encode Sans' rel='stylesheet'>

  <title>Formulario de Edición</title>
</head>

<style>
    body {
      font-family: 'Encode Sans';
      color: #393939;
      margin: 0;
      padding: 0;
      padding-bottom: 150px;
      display: flex;
    flex-direction: column;
    text-align: center;
    }

    header {
        background-color: #37BBED;
        color: #fff;
        text-align: center;
    }


    header h1 {
        font-size: 2rem;
    }

    nav ul {
        list-style: none;
        padding: 0;
    }

    nav ul li {
        display: inline;
        margin: 0 20px;
    }

    nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        transition: color 0.3s;
    }

    nav a:hover {
        color: #202020;
        /* Cambio de color al pasar el ratón */
    }


    h1 {
      text-align: center;
    }

    form {
      max-width: 600px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
      text-align: center;
      margin: 4px;
        border: 1px solid #ccc; /* Color del borde */
        border-radius: 4px; /* Bordes redondeados */
        box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto total */
        transition: border-color 0.3s ease; /* Efecto de transición en el color del borde */
    }

    button {
      background-color: #4caf50;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      
    }
</style>

<body>
  <header>
    <%- include('header') %>
  </header>

  <h1>Editar Supervisión</h1>
  <form action="/supervisiones/actualizar/<%= supervision.id %>" method="post">
    <label for="operador">Operador:</label>
    <select name="operador" required>
      <option value="" disabled>Seleccionar</option>
      <option value="Agus" <%= supervision.operador === 'Agus' ? 'selected' : '' %>>Agus</option>
      <option value="Maru" <%= supervision.operador === 'Maru' ? 'selected' : '' %>>Maru</option>
    </select>

    <label for="tramite">Nombre - CUIL - TTR:</label>
    <input type="text" name="tramite" value="<%= supervision.tramite %>" required>

    <label for="turno">Fecha de SO:</label>
    <input type="date" name="turno" value="<%= supervision.turno %>" required>

    <label for="edad">Verificación turno/edad:</label>
    <select name="edad" required>
      <option value="" disabled selected>-</option>
      <option value="Correcto" <%= supervision.edad === 'Correcto' ? 'selected' : '' %>>Ok</option>
      <option value="Incorrecto" <%= supervision.edad === 'Incorrecto' ? 'selected' : '' %>>No analizado</option>
    </select>

    <label for="sicaSolicitud">SICA Solicitud:</label>
    <select name="sicaSolicitud" required>
      <option value="" disabled selected>-</option>
      <option value="Correcto" <%= supervision.sica_solicitud ? 'selected' : '' %>>Ok</option>
      <option value="Incorrecto" <%= !supervision.sica_solicitud ? 'selected' : '' %>>No analizado</option>
    </select>

    <label for="sicamFecha">SICAM Fecha:</label>
    <select name="sicamFecha" id="" required>
      <option value="" disabled selected>-</option>
     <option value="Correcto" <%= supervision.sicam_fecha === 'Correcto' ? 'selected' : '' %>>Ok</option>
     <option value="Incorrecto" <%= supervision.sicam_fecha === 'Incorrecto' ? 'selected' : '' %>>No analizado</option>
  </select>


    <label for="sicamDatos">SICAM Datos:</label>
    <select name="sicamDatos" required>
      <option value="" disabled selected>-</option>
      <option value="Correcto" <%= supervision.sicam_datos === 'Correcto' ? 'selected' : '' %>>Ok</option>
      <option value="Incorrecto" <%= supervision.sicam_datos === 'Incorrecto' ? 'selected' : '' %>>No analizado</option>
    </select>

    <label for="otroBeneficio">Otro Beneficio:</label>
    <select name="otroBeneficio" required>
      <option value="" disabled selected>-</option>
      <option value="Correcto" <%= supervision.otro_beneficio === 'Correcto' ? 'selected' : '' %>>Ok</option>
      <option value="Incorrecto" <%= supervision.otro_beneficio === 'Incorrecto' ? 'selected' : '' %>>No analizado</option>
    </select>

    <label for="empresasEnRiesgo">Empresas en Riesgo:</label>
    <select name="empresasEnRiesgo" required>
      <option value="" disabled selected>-</option>
      <option value="Correcto" <%= supervision.empresas_en_riesgo === 'Correcto' ? 'selected' : '' %>>Ok</option>
      <option value="Incorrecto" <%= supervision.empresas_en_riesgo === 'Incorrecto' ? 'selected' : '' %>>No analizado</option>
    </select>

    <label for="aut1">AUT1:</label>
    <select name="aut1" required>
      <option value="" disabled selected>-</option>
      <option value="Correcto" <%= supervision.aut1 === 'Correcto' ? 'selected' : '' %>>Ok</option>
      <option value="Incorrecto" <%= supervision.aut1 === 'Incorrecto' ? 'selected' : '' %>>No analizado</option>
    </select>

    <label for="desempleo">Desempleo:</label>
    <select name="desempleo" required>
      <option value="" disabled selected>-</option>
      <option value="Correcto" <%= supervision.desempleo === 'Correcto' ? 'selected' : '' %>>Ok</option>
      <option value="Incorrecto" <%= supervision.desempleo === 'Incorrecto' ? 'selected' : '' %>>No analizado</option>
    </select>

    <label for="programasSociales">Programas Sociales:</label>
    <select name="programasSociales" required>
      <option value="" disabled selected>-</option>
      <option value="Correcto" <%= supervision.programas_sociales === 'Correcto' ? 'selected' : '' %>>Ok</option>
      <option value="Incorrecto" <%= supervision.programas_sociales === 'Incorrecto' ? 'selected' : '' %>>No analizado</option>
    </select>

    <label for="otrosExpedientes">Otros Expedientes:</label>
    <select name="otrosExpedientes" required>
      <option value="" disabled selected>-</option>
      <option value="Correcto" <%= supervision.otros_expedientes === 'Correcto' ? 'selected' : '' %>>Ok</option>
      <option value="Incorrecto" <%= supervision.otros_expedientes === 'Incorrecto' ? 'selected' : '' %>>No analizado</option>
    </select>

    <label for="serviciosSICA">Servicios SICA:</label>
    <select name="serviciosSICA" required>
      <option value="" disabled selected>-</option>
      <option value="Correcto" <%= supervision.servicios_sica === 'Correcto' ? 'selected' : '' %>>Ok</option>
      <option value="Incorrecto" <%= supervision.servicios_sica === 'Incorrecto' ? 'selected' : '' %>>No analizado</option>
    </select>

    <label for="fip">FIP:</label>
    <select name="fip" required>
      <option value="" disabled selected>-</option>
      <option value="Correcto" <%= supervision.fip === 'Correcto' ? 'selected' : '' %>>Ok</option>
      <option value="Error" <%= supervision.fip === 'Error' ? 'selected' : '' %>>No analizado</option>
    </select>

    <label for="observaciones">Observaciones:</label>
    <textarea name="observaciones"><%= supervision.observaciones %></textarea>

    <label for="estado">Estado:</label>
    <select name="estado" required>
      <option value="" disabled selected>-</option>
      <option value="Cerrado" <%= supervision.estado === 'Cerrado' ? 'selected' : '' %>>Cerrado</option>
      <option value="Devuelto" <%= supervision.estado === 'Devuelto' ? 'selected' : '' %>>Devuelto</option>
      <option value="Pendiente supervisión" <%= supervision.estado === 'Pendiente supervisión' ? 'selected' : '' %>>Pendiente supervisión</option>
      <option value="Ok - Para cerrar" <%= supervision.estado === 'Ok - Para cerrar' ? 'selected' : '' %>>Ok - Para cerrar</option>
    </select>

    <button type="submit">Actualizar</button>
  </form>
</body>
</html>
