<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Oficina Palomar</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../styles/stylesCalculos.css">
    <link href='https://fonts.googleapis.com/css?family=Encode Sans' rel='stylesheet'>

    

</head>
<body>

<table>
  <tr>
    <th>Mes</th>
    <th>Año</th>
    <th>Capital</th>
    <th>Interes</th>
  </tr>
  <% for (const item of sdm) { %>
    <tr>
      <td id="<%=item%>"> <%= item.Mes %></td>
      <td><%= item.Año %></td>
      <td><%= item.Capital %></td>
      <td><%= item.Interes %></td>
    </tr>
  <% } %>
</table>



</body>




<style>

    table, th, td {
        border-collapse: collapse;
        border: 1px solid black;
        padding: 10px
    }
    
</style>

<script>
    var sdm = JSON.stringify(require('./sdm.json'))
</script>






</html>
