<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/pension.css">
    <link rel="stylesheet" href="../styles/stylesCalculos.css">

    <link href='https://fonts.googleapis.com/css?family=Encode Sans' rel='stylesheet'>

    <title>Lista de Bonos</title>
</head>
<body>

    <div id="contenidoParaImprimir">
        
    
    <h1>Bonos / Refuerzos Previsionales - Carga de datos LMN</h1>
    <br>

        <div class="datos">
            <table>
                <tr>
                    <th>Nombre y apellido:</th>
                    <td>
                        <%= datos.nombre%>
                    </td>
                </tr>

                <tr>
                    <th>Nro de expediente:</th>
                    <td>
                        <%= datos.expediente%>
                    </td>
                </tr>




                <tr>

                    <th>Nro de beneficio:</th>
                    <td>
                        <%= datos.beneficio%>
                    </td>
                </tr>


            </table>
        </div>

<br><br><br>
        <table>
            <thead>
                <tr>
                    <th>Mes</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < bonos.length; i++) { %>
                    <tr>
                        <td><%= bonos[i].Mes %></td>
                        <td><%= bonos[i].Concepto %></td>
                        <td> $ <%= bonos[i].Monto %></td>
                        </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>